################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ScanSystems.Marking.Demo/ScanSystems.Marking.Demo/obj
